.test1 {
  border-bottom: 1px solid rgb(61, 211, 68);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aquamarine;
}
.test2 {
  text-align: center;
  border: 1px solid black;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 100px;
}
div:hover {
}
