.test1 {
  border-bottom: 1px solid rgb(61, 211, 68);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aquamarine;
  height: 30px;
  transition: 0.5s all linear;
}
.test2 {
  text-align: center;
  border: 1px solid black;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 100px;
}
.test1:hover {
  height: 60px;
  transition: 0.5s all linear;
}
p {
  font-size: 10px;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0.5s;
}
p:active {
  font-size: 20px;
  transition-property: all;
  transition-duration: 2s;
  transition-delay: 0.5s;
}
