.test1 {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 100px;
  border-color: rgb(184, 136, 74);
  margin-left: 1090px;
  transition: 0.5s all linear;
}
img {
  margin-left: 40px;
  margin-top: 20px;
  width: 80px;
  height: 80px;
}
.test2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.test1:hover {
  width: 40%;
  transition: 0.5s all linear;
}
